{% extends 'base.html.twig' %}

{% block title %}User02 index{% endblock %}

{% block body %}
    <h1>User02 index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user02 in user02s %}
            <tr>
                <td>{{ user02.id }}</td>
                <td>{{ user02.name }}</td>
                <td>{{ user02.email }}</td>
                <td>{{ user02.password }}</td>
                <td>{{ user02.role }}</td>
                <td>
                    <a href="{{ path('app_user02_show', {'id': user02.id}) }}">show</a>
                    <a href="{{ path('app_user02_edit', {'id': user02.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user02_new') }}">Create new</a>
{% endblock %}
